dataset/evaluate/*
dataset/test/*
dataset/training/*

# But don't ignore the labels.example.json and images in the subdirectories of dataset
!dataset/evaluate/labels.example.json
!dataset/evaluate/images/photo.png
!dataset/test/labels.example.json
!dataset/test/images/photo.png
!dataset/training/labels.example.json
!dataset/training/images/photo.png

# Ignore all other files and directories in the dataset directory
dataset/**/*

# Ignore common python temporary files
*.pyc
__pycache__/
*.egg-info/

# Ignore environment files
.env
